.home-page {
  @include responsive("mobile-m") {
    @include flex(start, center, column);
    gap: 1rem;
    padding: 1rem;

    &-header {
      @include flex(space-between);
      width: 100%;
      height: 50px;
    
      .device-dropdown {
        position: relative;
        align-self: start;
        width: fit-content;
        height: 100%;

        .dropdown-btn {
          position: relative;
          z-index: 9999;
          @include flex;
          gap: 1rem;
          background: $pastel-gray;
          padding: 1rem;
          height: 100%;
          border-radius: .5rem;
          box-shadow: 2px 1px 5px rgba($black, .05);
          cursor: pointer;
          -webkit-tap-highlight-color: $transparent;

          &.clicked {
            border-radius: .5rem .5rem 0 0;
            border-bottom: 1px solid $accent-blue;
          }
        }

        .dropdown-content {
          @include flex(start, center, column);
          display: none;
          position: absolute;
          z-index: 9998;
          background: $pastel-gray;
          box-shadow: 2px 1px 5px rgba($black, .05);
          border-radius: 0 .5rem .5rem .5rem;
          overflow: hidden;

          &.open {
            display: flex;
          }

          .option {
            padding: .5rem 1.2rem;
            width: 100%;
            cursor: pointer;
            -webkit-tap-highlight-color: $transparent;

            &:hover {
              background: darken($pastel-gray, 5%);
            }
          }
        }
      }

      .brand-section {
        @include flex;
        gap: 1rem;
        height: 100%;

        span {
          font-size: 2rem;
          font-weight: 800;
        }

        img {
          height: 100%;
        }
      }
    }

    .image-container {
      columns: 2;
      column-gap: 1rem;
      column-fill: balance;

      img {
        margin-bottom: 1rem;
        break-inside: avoid;
        border-radius: .5rem;
        box-shadow: 2px 1px 5px rgba($black, .1);
      }
    }

    #pagination {
      margin-block: -.5rem 8rem;
    }
  }
}