.home-page {
  @include responsive("mobile-m") {
    @include flex(start, center, column);
    gap: 1rem;
    padding: 1rem;

    &-header {
      @include flex(space-between);
      gap: 1rem;
      width: 100%;
      height: 50px;
    
      .device-dropdown {
        position: relative;
        align-self: start;
        height: 100%;
        

        .dropdown-btn {
          position: relative;
          z-index: 9999;
          @include flex;
          gap: 1rem;
          background: $white;
          border: 1px solid $pastel-gray;
          padding: 1rem;
          height: 100%;
          border-radius: .5rem;
          box-shadow: 2px 1px 5px rgba($black, .1);
          cursor: pointer;
          -webkit-tap-highlight-color: $transparent;

          &.clicked {
            border-radius: .5rem .5rem 0 0;
            border-bottom: 1px solid $accent-blue;
          }

          .seperator {
            width: 1px;
            height: 1rem;
            background: $pastel-gray;
          }

          .dropdown-icon.rotated {
            transform: rotate(180deg);
          }
        }

        .dropdown-content {
          @include flex(start, center, column);
          display: none;
          position: absolute;
          z-index: 9999;
          width: 100%;
          background: $white;
          box-shadow: 2px 1px 5px rgba($black, .1);
          border-radius: 0 0 .5rem .5rem;
          overflow: hidden;

          &.open {
            display: flex;
            border: 1px solid $pastel-gray;
            border-top: 0;
          }

          .option {
            padding: .7rem 1rem;
            width: 100%;
            cursor: pointer;
            -webkit-tap-highlight-color: $transparent;

            &.selected {
              background: $accent-blue;
              color: $white;
            }

            &:hover {
              background: lighten($pastel-gray, 5%);
            }
          }
        }
      }

      .brand-section {
        @include flex;
        gap: 1rem;
        height: 100%;

        span {
          font-size: 2rem;
          font-weight: 800;
        }

        img {
          height: 100%;
        }
      }
    }

    .image-container {
      columns: 2;
      column-gap: 1rem;
      column-fill: balance;

      img {
        margin-bottom: 1rem;
        break-inside: avoid;
        border-radius: .5rem;
        filter: drop-shadow(2px 1px 5px rgba($black, .15))
      }
    }

    #pagination {
      margin-block: -.5rem 8rem;
    }
  }
}

.image-popup {
  position: fixed;
  inset: 0;
  z-index: 99999;
  @include flex;
  display: none;
  background: rgba($black, .5);
  backdrop-filter: blur(1px);

  .popup-container {
    @include flex(start, start, column);
    gap: 1rem;
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid $white;
    background: rgba($white, .8);
    backdrop-filter: blur(3px);
    box-shadow: 5px 3px 15px rgba($black, .1);

    .close-popup {
      font-size: 1.3rem;
      align-self: end;
      cursor: pointer;
      -webkit-tap-highlight-color: $transparent;
    }

    img {
      border-radius: .5rem;
      width: 100%;
      filter: drop-shadow(2px 1px 5px rgba($black, .1))
    }

    .image-functions {
      width: 100%;
      @include flex;
      height: 45px;
      background: $accent-blue;
      color: $white;
      border-radius: .5rem;
      box-shadow: 5px 3px 15px rgba($black, .1);
      overflow: hidden;

      .favorite-btn i.clicked {
        color: darken($pastel-red, 10%);
      }

      & > * {
        flex: 1;
        @include flex;
        height: 100%;
        -webkit-tap-highlight-color: $transparent;

        &:hover {
          background: lighten($accent-blue, 5%);
        }
      }
    }
  }
}